    </div>
    
<footer class="main-footer">

    <div class="vertical-container">

        <div class="wrapper">

            <p class="copy">&copy; Óscar Garrucho 2016 - All Rights Reserved</p>

            <ul class="social">
                <li><a href="https://twitter.com/OscarGarrucho">Twitter</a></li>
                <li><a href="https://github.com/oskarko">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/%C3%B3scar-rodr%C3%ADguez-garrucho-b2a10165">LinkedIn</a></li>
            </ul>

        </div>

    </div>

</footer>